.footer > .container {
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  background: #2f303a;
}

.address-block {
  padding-top: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: start;
  }
}

.footer-tabl {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
