// .footer > .container {
//   // display: flex;
// }

.footer {
  background: #2f303a;
}

.address-block {
  padding-top: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }
}

.footer-tabl {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
