.heading,
.heading-title {
  display: none;
}

.filter {
  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: center;
  }
}

.container.portfolio {
  padding-top: 60px;
  padding-bottom: 40px;

  @include for-size(desktop) {
    padding-top: 93px;
    padding-bottom: 50px;
  }
}
