.hero {
  text-align: center;
  background: #c4c4c4;
  // padding-top: 200px;
  padding-top: 118px;
  // padding-bottom: 200px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/mobile/img-mobile.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include for-size(tablet-landscape) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/tablet/img-tablet.jpg");
  }

  @include for-size(desktop) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/desktop/img-header.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url("../images/mobile/img@2x-mobile.jpg");
  }
}

@include for-size(tablet-landscape) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/tablet/img@2x-tablet.jpg");
    }
  }
}

@include for-size(desktop) {
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/desktop/img@2x-header.jpg");
    }
  }
}

.page-title {
  margin: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;

  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;

  @include for-size(desktop) {
    font-size: 44px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
