.btn-burger {
  top: 0;
  right: 0;
  height: 40px;
  margin-top: 20px;

  display: inline-flex;

  padding: 0;
  border: none;
  background-color: transparent;
  // background-color: cyan;

  @media screen and (min-width: 768px) {
    display: none;
  }

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.btn-burger:hover,
.btn-burger:focus {
  fill: $accent-color;
}
