// .site-nav-list {
// @media screen and (max-width: 767px) {
//   display: none;
// }

.site-nav-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    padding-left: 0;
    margin-left: 88px;
  }

  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;

  & .menu-item:last-child {
    margin-right: 0;
  }

  & .menu-item + .menu-item {
    margin-left: 50px;
  }
}

.navigation {
  display: flex;
  margin-right: auto;
}
