.subscribe-item {
  // display: inline-block;
  // max-width: 570px;
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 72px;
    padding-bottom: 94px;
    width: calc(100% / 2);
  }
}

.subscribemail {
  text-align: center;

  @include for-size(desktop) {
    display: flex;
    align-items: flex-end;
    // text-align: start;
    // width: calc((100% -));
  }

  @media screen and (min-width: 1200px) {
    // width: calc((100% / 2));
    // flex-wrap: nowrap;
    // max-width: 358px;
    // display: flex;
    // justify-content: space-between;

    // text-align: start;
  }
}

// .foter-mail {
//   position: relative;
//   // display: flex;
// }

.form-join {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  // background-color: indigo;

  @include for-size(desktop) {
    // flex-direction: column;
    // width: 358px;
    flex-basis: 358px;
    margin-left: 15px;
    margin-right: 12px;
  }
}

.male-s {
  padding: 15px 16px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    // width: calc((100% / 2));
    // flex-wrap: nowrap;
    max-width: 358px;
  }
}

.mail-button {
  position: relative;
  // display: flex;
  padding: 10px;
  padding-left: 29px;
  padding-right: 62px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid $accent-color;
  border-radius: 4px;

  @include for-size(desktop) {
    height: 50px;
    margin-bottom: 20px;
    // align-items: flex-end;
  }
}

.icon {
  position: absolute;
  display: flex;
  top: 13px;
  right: 25px;

  @include for-size(tablet) {
    position: absolute;
    top: 13px;
    left: 60%;
    // right: 150px;
  }
}
